/* .input{
    display: flex;
    align-items: center;
} */
.image-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 270px;
    /* background-color: green; */

}

.image-form {
    background-color: #EEEEEE;
    width: 700px;
    height: 150px;
    border-radius: 15px;
    padding: 15px;
}

.image-title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* flex-direction: column; */

}

.left, .right{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 25px;
}

.left h2{
    scale: 1.2;
    margin: 0px;
}

.back{
    height: 35px;
    width: 35px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.search{
    height: 35px;
    width: 35px;
    padding: 5px;
}

.right .cancel{
    scale : 1.2;
    border-color: red;
    background-color: rgb(255, 231, 231);;
    color: red;
    border-radius: 6px;
    padding: 5px;
    font-weight: 600;
}
.right .add-image{
    scale : 1.2;
    border-color: #0077ff;
    background-color: #E5F1FF;
    color: #0077ff;
    border-radius: 6px;
    padding: 5px;
    font-weight: 600;
}

.right input[name="search"] {
    height: 25px;
    padding: 3px 8px;
    border: 2px solid #0077ff;
    border-radius: 5px;
    font-size: 14px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 10px;
    margin-top: 10px;
}

.galary {
    /* display: block; */
    background-color: white;
    height: 200px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;

}

.galary:hover .galary-btn{
    opacity: 1;
}

.galary h3{
    margin: 0px;
}

.image{
    /* background-color: white; */
    /* border-radius: 5px; */
    margin-top: 5px;
    /* padding: 48px 75px 48px 75px; */
    height: 160px;
    width: 200px;
    border: 0.2px solid black;
}

.galary-btn{
    position: absolute;
    right: 10px;
    top: -10px;
    opacity: 0;
}

.galary-btn img{
    height: 40px;
    margin: 0px 2.5px;
    background-color: #fff;
    border-radius: 50%;
}
.galary-btn img:hover{
   transform: scale(1.1);
}



/* Carousel  */

.carousel-overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.carousel{
    display: flex;
    align-items: center;
    gap: 20px;
}

.close{
    display: flex;
    flex-direction: row-reverse;
}

.carousel-btn{
    background-color: #fff;
    height: 35px;
    width: 35px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 1);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.carousal-image{
    /* height: 75vh;
    width: 110vh; */
    height: 60vh;
    width: 40vw;
}