nav{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #A0A0F9;
    height: 70px;
}
.navbar{
    margin-left: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100%;
    
}

.navbar p{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.logo{
    max-height: 50px;
    max-width: 50px;
}