
.album-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 270px;
    /* background-color: green; */
    
}

.title{
    margin-top: 20px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    /* flex-direction: column; */
}

.title h2 {
    scale: 1.2;
}

.title .add-album{
    scale : 1.2;
    border-color: #0077ff;
    background-color: #E5F1FF;
    color: #0077ff;
    border-radius: 6px;
    padding: 5px;
    font-weight: 600;
}
.title .cancel{
    scale : 1.2;
    border-color: red;
    background-color: rgb(255, 231, 231);;
    color: red;
    border-radius: 6px;
    padding: 5px;
    font-weight: 600;
}

.albums-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 10px;
    margin-top: 10px;
}
.album {
    /* display: block; */
    background-color: #EEEEEE;
    height: 200px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
}
.album img{
    background-color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 48px 75px 48px 75px;
    height: 60px;
}

.album h3{
    margin: 0;
}

.album-form {
    background-color: #EEEEEE;
    width: 700px;
    height: 150px;
    border-radius: 15px;
    padding: 15px;
}

.input{
    display: flex;
    align-items: center;
}

.input input{
    width: 450px;
    height: 40px;
    border-radius: 30px;
    border-color: #0077ff;
    border-width: 2.5px;
    font-size: larger;
}

.red {
    background-color: red;
}

.blue {
    background-color: #0077ff;
}

.input button{
    margin: 10px;
    padding: 12px 27.5px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5%;
    font-size: large;
}
